html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html {
  height: 100%;
}

body, html {
  background-color: #B1D7B4;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px 2em;
  font-weight: bold;
  background-color: #B1D7B4;
  margin: 0 auto;
  height: 80px;
  list-style: none;
}

nav ul {
  margin-left: 1em;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  transition: 0.4s;
}

nav ul li {
  color: #FFC090;
}

nav a:hover {
  color: #F7F6DC;
  transition: 0.4s;
  text-decoration: underline;
}

.button-9 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #7FB77E;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.button-9:hover {
  transform: scale(1.2);
}

.hero {
  height: 300px;
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F7F6DC;
  height: 40%;
  width: 100%;
}
.hero .plant {
  display: block;
  position: absolute;
  right: 65%;
}
.hero__textcont {
  flex-wrap: wrap;
  width: 25%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 26px;
  font-style: italic;
  text-transform: capitalize;
  line-height: 1.5;
  margin-left: 4.6em;
}
.hero span {
  color: #7FB77E;
  font-size: 45px;
}
.hero__btncont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  font-weight: bold;
  width: 90%;
  color: white;
  font-weight: bold;
  font-style: normal;
  padding-top: 2em;
  font-size: 20px;
  font-weight: bold;
}
.hero__btncont .btn1 {
  background-color: #7FB77E;
  text-decoration: none;
  text-align: center;
  border: 2px solid transparent;
  padding: 7px 15px;
  border-radius: 30px;
  transition: 0.4s;
}
.hero__btncont .btn2 {
  background-color: #7FB77E;
  text-decoration: none;
  text-align: center;
  padding: 7px 15px;
  border: 2px solid transparent;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.4s;
}
.hero__btncont .btn2:hover {
  transform: scale(1.2);
}
.hero__btncont .btn1:hover {
  transform: scale(1.2);
}

.oil {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  height: 600px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(./Resources/llleaves.svg);
}
.oil h2 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  width: 100%;
  border-bottom: 5px solid wheat;
  font-weight: bold;
  border-radius: 10px;
  padding-bottom: 0.3em;
  margin-bottom: 1em;
  color: #840202;
}
.oil p {
  font-size: 20px;
  line-height: 1.5;
  font-style: italic;
  opacity: 0.8;
}
.oil span {
  font-size: 24px;
  color: #DD4A48;
  opacity: 1;
}
.oil .id {
  color: #DD4A48;
  font-size: 10px;
  margin-top: 2em;
}
.oil__textcont {
  width: 25%;
  background-color: #FFC090;
  padding: 2em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product {
  height: 100vh;
  margin-bottom: 3em;
}

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.product #f {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #840202;
  margin-bottom: 2em;
}

span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}/*# sourceMappingURL=main.css.map */